if (['/about', '/contact'].indexOf(url.path) >= 0)
	.row
		section(role='findme')
			#findme.row
				.large-8.columns
					h1 Where else
					ul#findmeicons.inline-list
						li.anime
							a(target="_blank", title="Github", href='https://github.com/pasupulaphani')
								i.fi-social-github.size-36
						li.anime
							a(target="_blank", title="Linkedin", href='http://www.linkedin.com/pub/phaninder-pasupula/2b/4a0/aab')
								i.fi-social-linkedin.size-36
						li.anime
							a(target="_blank", title="Facebook", href='https://www.facebook.com/PhaniPasupula')
								i.fi-social-facebook.size-36
						li.anime
							a(target="_blank", title="Google+", href='https://plus.google.com/+phaninderpasupula')
								i.fi-social-google-plus.size-36
						li.twitter-buttons-bottom
							.follow-button(style="cursor: pointer;" onclick="window.location='https://twitter.com/pasupulaphani';")
								a.twitter-follow-button(href='https://twitter.com/pasupulaphani', data-show-count='false', data-size='large', data-dnt='true') Follow @PhaniPasupula
								script.
									!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
else if (url.path.match(/\/posts*/) && post)
	.row
		section(role='findme')
			#fb-root
			#findme.row
				.large-8.columns
					h3 Share this post
					ul#shareposticons.inline-list
						li
							a.twitter-share-button(href='https://twitter.com/share', data-url="http://#{url.host}#{url.path}", data-text='#{post.title}', data-via='pasupulaphani', data-size='small', data-count='none', data-hashtags='phaninder.com') Tweet
						li
							.g-plus(data-action='share', data-annotation='none', data-href='http://phaninder.com')
						li(style= "margin-top: -2px;")
							.fb-share-button(data-href="http://#{url.host}#{url.path}", data-type="button")
						li
							.g-plusone(data-annotation='none', data-size='medium', data-width='300', data-href='http://phaninder.com')
						li
							.fb-like(data-href="http://#{url.host}#{url.path}", data-width="40px", data-layout='standard', data-action='like', data-show-faces='true', data-share='false')

						script.
							//- twitter share
							!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
							//- facebook like and share
							(function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id)) return;
								js = d.createElement(s); js.id = id;
								js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=515239655250335";
								fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
							//- google+ like and share
							(function() {
								var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								po.src = 'https://apis.google.com/js/platform.js';
								var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							})();
include ./footer
include ./foot