if (['/about'].indexOf(url.path) >= 0)
	.row
		section(role='findme')
			#findme.row
				.large-8.columns
					h1 Where else
					ul#findmeicons.inline-list
						li
							a.webicon.github(target="_blank", href='https://github.com/pasupulaphani') Github
						li
							a.webicon.linkedin(target="_blank", href='http://www.linkedin.com/pub/phaninder-pasupula/2b/4a0/aab') Linkedin
						li
							a.webicon.facebook(target="_blank", href='https://www.facebook.com/pasupulaphani') Facebook
						li
							a.webicon.googleplus(target="_blank", href='https://plus.google.com/+phaninderpasupula') Google+
						li
							a.twitter-follow-button(href='https://twitter.com/pasupulaphani', data-show-count='false', data-size='large', data-dnt='true') Follow @pasupulaphani
						script.
							!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
else if (url.path.match(/\/posts*/) && post)
	.row
		section(role='findme')
			#fb-root
			#findme.row
				.large-8.columns
					h3 Share this post
					ul#findmeicons.inline-list
						li
							a.twitter-share-button(href='https://twitter.com/share', data-url="http://#{url.host}#{url.path}", data-text='#{post.title}', data-via='pasupulaphani', data-size='small', data-count='none', data-hashtags='phaninder.com') Tweet
						li(style= "margin-top: -2px;")
							.fb-share-button(data-href="http://#{url.host}#{url.path}", data-type="button")
						li
							.fb-like(data-href="http://#{url.host}#{url.path}", data-width="40px", data-layout='standard', data-action='like', data-show-faces='true', data-share='false')

						script.
							//- twitter share
							!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
							//- facebook like and share
							(function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id)) return;
								js = d.createElement(s); js.id = id;
								js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=515239655250335";
								fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
include ./footer
include ./foot