extends ../layout/top

block content

	.row
		section(role='main')
			#post.row
				.large-10.columns
					- var action  = post ? "/posts/"+post._id : "/posts"
					- var _method = post ? "put" : "post"
					- var title   = post ? post.title : ''
					- var body    = post ? post.body : ''
					form(method="post", action=action)
						input(type="hidden", name="_method", value=_method)
						ul
							li
								lable(for="title") Title
								input#title(name="title", type="text", value="#{title}")
							li
								lable(for="body") Body
								textarea#post-body(name="body", style="display: none")= unescape(body)
								div#epiceditor
							br
							li
								input.tiny.button(type="submit", value="Save")
								| &nbsp;&nbsp;&nbsp;
								a(href=action) Cancel
		//- include ./search
	include ../layout/bottom

	if (session.isLoggedIn)
		script(src=staticHost+"/js/src/vendor/epiceditor.js")
		script.
			var opts = {
				container: 'epiceditor',
				textarea: 'post-body',
				basePath: 'epiceditor',
				clientSideStorage: false,
				localStorageName: 'epiceditor',
				useNativeFullscreen: true,
				parser: marked,
				file: {
					name: 'epiceditor',
					defaultContent: '',
					autoSave: false
				},
				theme: {
					base: '#{staticHost}/css/src/vendor/epiceditor/epiceditor.css',
					preview: '#{staticHost}/css/src/vendor/epiceditor/github.css',
					editor: '#{staticHost}/css/src/vendor/epiceditor/epic-dark.css'
				},
				button: {
					preview: true,
					fullscreen: true,
					bar: "auto"
				},
				focusOnLoad: false,
				shortcut: {
					modifier: 18,
					fullscreen: 70,
					preview: 80
				},
				string: {
					togglePreview: 'Toggle Preview Mode',
					toggleEdit: 'Toggle Edit Mode',
					toggleFullscreen: 'Enter Fullscreen'
				},
				autogrow: true
			}
			var editor = new EpicEditor(opts).load();
