// delete should never be used
//- form(name="deletePost", action="/posts/#{post._id}", method="post")
//- 	input(type="hidden", name="_method", value="delete")
//- 	input(type="submit", value="Delete Post")
dl#post-admin.sub-nav
	dd#set-status
		script.
			function setPostStatus(state) {
				document.postStatusForm.status.value = state;
				document.postStatusForm.submit();
			}

		form(name="postStatusForm", action="/posts/#{post._id}/status", method="post")
			input(type="hidden", id="status", name="status", value="")
			input(type="hidden", name="_method", value="put")

		//- "infoStatus" is bound to locals
		a.small.secondary.radius.button.dropdown(href='#', data-dropdown='statuslist')= infoStatus[post.status]
		br
		ul#statuslist.f-dropdown(data-dropdown-content='data-dropdown-content')
			- for (var state in infoStatus) {
				-	if (post.status != state)
					li
						a(onclick="setPostStatus('#{state}')", href="javascript: void(0)")= infoStatus[state]
			- }

	dd#post-edit
			a.small.secondary.button(href="/posts/#{post._id}/edit") Edit Post

// This info is to just a fix to show dropdown buttons list
// more info : https://github.com/zurb/foundation/issues/3922
p
	b Post Info :
	br
	| author: #{post.user._id}
	br
	| last modified : #{post.modified.toGMTString()}
