extends ../layout/top

block content
	.row
		section(role='main')
			#post.row
				.eight.columns
					h1= post.title
					p= post.body
					span= post.created.toGMTString()
					p by #{post.user._id}
					if (loginShow || session.isLoggedIn)
						// delete should never be used
						//- form(name="deletePost", action="/posts/#{post._id}", method="post")
						//- 	input(type="hidden", name="_method", value="delete")
						//- 	input(type="submit", value="Delete Post")

						// todo : change this to set status.
						form(name="trashPost", action="/posts/#{post._id}/status", method="post")
							input(type="hidden", name="status", value="Y")
							input(type="submit", value="Move to trash")
						a(href="/posts/#{post._id}/edit")= "Edit"

	include ../layout/bottom
