extends ../layout/top

block content
	.row
		section(role='main')
			#post.row
				.large-8.columns
					h1= post.title
					p= post.body
					span= post.created.toGMTString()
					p by #{post.user._id}
					if (loginShow || session.isLoggedIn)

						// delete should never be used
						//- form(name="deletePost", action="/posts/#{post._id}", method="post")
						//- 	input(type="hidden", name="_method", value="delete")
						//- 	input(type="submit", value="Delete Post")

						section#set-status
							script.
								function setPostStatus(state) {
									document.postStatusForm.status.value = state;
									document.postStatusForm.submit();
								}

							form(name="postStatusForm", action="/posts/#{post._id}/status", method="post")
								input(type="hidden", id="status", name="status", value="")

							dl.sub-nav
									dt.h5 Move to:
										- var status_info = {	U:"Under construction", Y:"Display", T:"Trash"}
										- for (var state in status_info) {
											-	if (post.status === state)
													dd.active
														a= status_info[state]
											- else
													dd
														//-	if just href="#" is used you will jump to the top and the URL will have the anchor # as well,
														//-	to avoid this we simply return false; or use javascript:void(0);
														a(onclick="setPostStatus('#{state}')", href="javascript: void(0)")= status_info[state]
										- }

						section#post-edit
							a.button(href="/posts/#{post._id}/edit")= "Edit Post"

	include ../layout/bottom
